body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}
.movie-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
}

.movie-entry {
    flex-basis: 340px; 
    flex-grow: 1;
    
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    background-color: #fff;
    
    margin-bottom: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-entry h2 {
    font-size: 1.5em;
    border-bottom: 2px solid #eee;
    margin-bottom: 15px;
    padding-bottom: 5px;
    width: 100%;
}

.movie-entry img {
    max-width: 100%;
    width: 200px;
}

.movie-entry details {
    max-width: 100%; 
    margin-top: 15px;
}

.movie-entry iframe {
    width: 100%; 
    max-width: 560px;
    height: auto;
    aspect-ratio: 16 / 9;
}