body {
  background-color: rgb(0, 0, 255);
}

header {
  background-color: red;
}
header h3 {
  text-align: center;
}
header h3:hover {
  color: aqua;
}

p {
  border: 1px solid white;
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.alerta-info {
  border: 1px solid blue;
  color: white;
  background-color: blue;
  padding: 10px;
  border-radius: 5px;
}

button {
  padding: 10px;
  font-size: 1.2em;
  width: 50px;
}

.botao-confirmar {
  background-color: green;
  color: whitesmoke;
}

.botao-deletar {
  background-color: red;
  color: whitesmoke;
}