@use 'cores';
$w: 100;

@mixin alerta($cor_borda: white, $cor_t: black, $cor_f: transparent){
    border: 1px solid $cor_borda;
    color: $cor_t;
    background-color: $cor_borda;
    padding: 10px;
    border-radius: 5px;
}

body {
    background-color: cores.$cor2;
}
header {
    background-color: cores.$cor1;
    h3 {
        text-align: center;
        &:hover {
            color: aqua;
        }
    }
}

p{
    @include alerta;
}

.alerta-info {
    @include alerta(blue, white, rgb(225, 0, 255),)
}

%botao {
    padding: 10px;
    font-size: 1.2em;
    width: ($w / 2) * 1px;
}

button {
    @extend %botao;
}

.botao-confirmar {
    background-color: green;
    color: whitesmoke;
}

.botao-deletar {
    background-color: red;
    color: whitesmoke;
}