body{
  /* border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;

  border-top-color: blueviolet;
  border-right-color: blueviolet;
  border-bottom-color: blueviolet;
  border-left-color: blueviolet;

  border-top-style: dotted;
  border-right-style: dotted;
  border-bottom-style: dotted;
  border-left-style: dotted; */



   border:2px dashed blue ;
   margin: 0;
   padding: 25px;
   background-image: url(https://foxbaltimore.com/resources/media2/16x9/full/768/center/80/cb06e888-f115-4e55-b190-b91257456c9b-medium16x9_rain.JPG);
}
header{
  border: 0.4px solid rgb(109, 172, 57);
}
main{
  border: 1px solid firebrick;
  margin: 15px;
}
h1{
  text-align: center;
}

.caixa_botoes {
  border: 1px solid salmon;
  padding: 15px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-width: 3px;

}
button{
  padding: 8px;
  margin: 5px;
  border: 0.3px solid rgb(62, 53, 145);
  border-radius: 5px;
}

footer{
  border: 1px solid green;
}