@import url('cores.css');

nav {
    background-color: black;
    padding: 15px;
}

header {
    background-color: lightcoral;
}

main {
    background-color: lightgray;
    padding: 15px;
}

footer {
    background-color: black;
    padding: 15px;
    color: white;
    text-align: center;
}